<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/ingrediants.css">
</head>
<body>
    <div class="nav">
        <img src="/images/demoprofile.jpg" alt="">
        <div class="but">
            <a href="/home">Home</a>
            <a href="/search" class="home">AI Food Suggest</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="log">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </div>
    </div>
    <div class="form">
        <form action="/search", method="POST">
            <div class="title">
                Find Recipes
            </div>
            <div class="wrap">
                <img src="/images/tags.png" alt="">
                <input type="text" placeholder="Add Ingrediants">
                <button class="add" type="button">Add</button>
            </div>
            <div class="tags">
                <!-- <div class="tag">
                    kunal <img src="/images/cross.png" alt="">
                </div>
                <div class="tag">
                    shubh <img src="/images/cross.png" alt="">
                </div>
                <div class="tag">
                    saifalsi <img src="/images/cross.png" alt="">
                </div> -->
            </div>
            <button class="submit" type="submit">Find Recipes <img src="/images/search.png" alt=""></button>                        
        </form>
    </div>
</body>
<script src="/scripts/ingrediants.js"></script>
</html>