<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/recipespage.css">
</head>
<body>
    <div class="nav">
        <img src="/images/demoprofile.jpg" alt="">
        <div class="but">
            <a href="/home">Home</a>
            <a href="/search" class="home">AI Food Suggest</a>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="log">
            <a href="#">Login</a>
            <a href="#">Signup</a>
        </div>
    </div>
    <div class="recipes">
        <% recipes.forEach(recipe=>{ %>
            <div class="recipe">
                <img src="<%= recipe.image %>" alt="">
                <div class="content">
                    <div class="title"><%= recipe.title %></div>
                    <div class="id" style="
                    color: greenyellow;
                    font-size: 20px;
                    font-weight: 600;
                "><%= recipe.id %></div>
                </div>
            </div>
        <%})%>
        <!-- <div class="recipe">
            <img src="/images/sample.jpg" alt="">
            <div class="content">
                <div class="title">Title of the Food</div>
                <div class="else">Some tags</div>
            </div>
        </div>
        <div class="recipe">
            <img src="/images/sample.jpg" alt="">
            <div class="content">
                <div class="title">Title of the Food</div>
                <div class="else">Some tags</div>
            </div>
        </div>
        <div class="recipe">
            <img src="/images/sample.jpg" alt="">
            <div class="content">
                <div class="title">Title of the Food</div>
                <div class="else">Some tags</div>
            </div>
        </div>
        <div class="recipe">
            <img src="/images/sample.jpg" alt="">
            <div class="content">
                <div class="title">Title of the Food</div>
                <div class="else">Some tags</div>
            </div>
        </div>
        <div class="recipe">
            <img src="/images/sample.jpg" alt="">
            <div class="content">
                <div class="title">Title of the Food</div>
                <div class="else">Some tags</div>
            </div>
        </div>
        <div class="recipe">
            <img src="/images/sample.jpg" alt="">
            <div class="content">
                <div class="title">Title of the Food</div>
                <div class="else">Some tags</div>
            </div>
        </div>
        <div class="recipe">
            <img src="/images/sample.jpg" alt="">
            <div class="content">
                <div class="title">Title of the Food</div>
                <div class="else">Some tags</div>
            </div>
        </div> -->
    </div>
</body>
<script src="/JS/ingrediants.js"></script>
</html>